{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    {% load static %}

    <link rel="icon" href="{% static 'img/pngwing.com.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/MyStyles.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'js/valida.js' %}"></script>

</head>
<body>

        <!-- reloj-->
        <div >
          <section  >

              <div class="reloj " id="reloj" >
                  <h6>Hora actual</h6>
                <span id="tiempo">00 : 00 : 00</span>
              </div>
              <div id="cajaboton" style="position: relative; transition: left 1s ease-in-out; left:10px; margin-top: 20px; " >
                <button id="botiempo" class="butt" >></button>
              </div>
              

      
          </section>
        </div>
        <!-- termino reloj-->
        <!-- scrip que realiza el reloj-->
          
      

   



  

<div class="container-fluid ">
    <div class="row ">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Nosotros</h1>
            <hr style="background-color: black; border-radius: 2px solid;">
            <br><br>
        </div> 
        <div class="col-lg-4"></div> 
    </div>
 </div>
 <br><br>
 <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 border-">
            <h2>Mision</h2>
            <p style="font-size: 1.5em; ">
                Nuestra misión es apoyar a la fundación mediante la venta de productos de jardinería de alta calidad y 
                servicios relacionados, y promover el interés en la jardinería como una forma de conectar con la naturaleza 
                y promover el bienestar. Trabajamos para proporcionar productos de calidad, servicio excepcional y valor para
                 nuestros clientes, y apoyar a la fundación en su misión de mejorar la vida de aquellos a quienes sirve.
            </p>
        </div>
        
        <div class="col-lg-6"> <img src="{% static 'img/torres.jpg' %}" class="imag img-fluid box"> </div>


    </div>
 </div>

 <br>
 <hr>
 <br>
 <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6"> <img src="{% static 'img/valdivia.jpg' %}" class="imag img-fluid box"></div>
      <div class=" col-lg-6">
        <h2>Vision</h2>
        <p style="font-size: 1.5em;">
          Ser una organización líder en la recaudación de fondos para apoyar a la fundación a través de la venta de productos de
           jardinería de alta calidad, fomentando el amor por la naturaleza y la jardinería en nuestra comunidad.
        </p>
      </div>
    </div>
  </div>

<br><hr><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <p style="font-size: 1.5em;">Este video es de la fundacion que nosotros como GreenSeed apoyamos. </p>
      </div>
      <div class="col-lg-6" style="z-index: 2;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_I1gaemfSM8" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen class=" vid" ></iframe>
      </div>
    </div>
  </div>


<br><hr><br>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/reloj.js' %}"></script>

</body>
</html>
{% endblock %}